---
import NavBar from '@components/nav-bar/NavBar.astro';
import { ViewTransitions } from 'astro:transitions';
import 'cal-sans';
import { siteInfo } from 'src/constant/siteInfo';
import '../styles/global.css';
type Props = {
  title: string;
  image?: string;
  description?: string;
};
const { title = siteInfo.title, description = siteInfo.description, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="author" content={siteInfo.author} />
    <!-- Meta Tags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:imgae" content={image} />
    <meta property="og:type" content="website" />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <main>
      <NavBar />

      <slot />
    </main>
  </body>
</html>

<!-- <style>
  @view-transition {
    navigation: auto; /* enabled! */
  }
</style> -->
